* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

ol,
ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #bbfea3;
}

/* ------------------Preloader----------------------- */
.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    backdrop-filter: invert(30%);
    -webkit-backdrop-filter: invert(30%);
}

.preloader {
    width: 15%;
    height: 15%;
}


.preloader path:nth-child(2) {
    transform-origin: center;
    animation: rotateIn 1.5s ease infinite;
}

.preloader path:nth-child(3) {
    transform-origin: center;
    animation: rotateOut 1.5s ease infinite;
}


@keyframes rotateIn {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateOut {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}



/* --------------------------------------------------- */



.wrapper {
    max-width: 1440px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.info {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}

.date-of-birth {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.img-profile {
    max-width: 8.75rem;
    height: 8.75rem;
    border: 3px solid #6c757d;
    border-radius: 15%;
    object-fit: cover;
}

.gift-icon {
    max-width: 29px;
}

.stars-container {
    display: flex;
}


.star-decoration1 {
    animation: shine 1s linear infinite alternate;
    transform-origin: center;
}
.star-decoration2 {
    animation: shine 1s linear infinite  alternate;
    animation-delay: 1s;
    transform-origin: center;
}

@keyframes shine {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/* ----------------------------------------- */

.wishlist-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}


.wishlist-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 17rem;
    cursor: pointer;
    background-color: #fff;
    border: thick double #6c757d;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 12px 12px 2px 1px rgb(79 79 112 / 20%);
    position: relative;
    transition: all 0.3s linear;
}


.selected>.card-btn-wrap .check {
    display: none;
}

.cancel {
    display: none;
}

.selected>.card-btn-wrap .cancel {
    display: block;
}

.reserved {
    width: 244px;
    height: 64px;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 297px;
    right: 20px;
    background-color: #fee191;
    border-bottom-left-radius: 1.9rem;
    border-bottom-right-radius: 1.9rem;
}

.card-img {
    width: 15.125rem;
    height: 21.25rem;
    border: thick double #6c757d;
    border-radius: 2rem;
    object-fit: cover;
    background-color: white;
}

.product-description {
    max-width: 251px;
}


.card-btn-wrap {
    position: absolute;
    z-index: 3;
    right: 35px;
    margin-top: 1rem;
    display: flex;
    gap: 9rem;
}

.card-btn {
    max-width: 2.75rem;
    height: 2.75rem;
    transition: all .3s;
}


.price {
    font-size: 1.5rem;
}


.custom-error {
    background: #De2e28 !important;
    padding: 1rem !important;
    border-radius: 1rem !important;
    font-weight: bold !important;
}

.custom-success {
    background: #b9a3fe !important;
    padding: 1rem !important;
    border-radius: 1rem !important;
    font-weight: bold !important;
}

/* ----------------Modal--------------------- */

.modal-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 998;
    background-color: rgba(76, 77, 80, .5);
    top: 0;
}

.modal-showed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    background-color: #fff;
    padding: 3rem;
    border-radius: 2rem;
    border: thick double #6c757d;
    box-shadow: -4px 0px 100px 15px rgba(0, 0, 0, 0.57);
}

.img-product-modal {
    max-width: 300px;
    height: 393px;
    border-radius: 2rem;
    border: thick double #6c757d;
}

.modal-info-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.gift-name {
    max-width: 251px;
    font-size: 2rem;
}

.link {
    display: flex;
    color: #000;
    font-weight: bold;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    text-decoration: none;
}

.link div:nth-child(2) {
    display: flex;
    align-items: center;
    height: 35px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
}



.link img {
    width: 1.5rem;
}

.modal-coment {
    max-width: 251px;
}

.modal-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform .3s;
}


/* ----------------------------------------- */


@media screen and (max-width: 850px) {
    .wrapper {
        gap: 0;
    }

    header {
        flex-direction: column;
    }

    .stars-container {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .modal {
        width: 60%;
        justify-content: center;
        padding: 1.5rem;
    }

    .img-product-modal {
        height: 300px;
    }

    .modal-btn {
        width: 25px;
        top: 10px;
        right: 25px
    }

}

@media screen and (max-width: 600px) {
    .modal-btn {
        width: 25px;
        right: 10px
    }

}

@media screen and (max-width: 453px) {
    .info {
        font-size: 2rem;
    }

    .img-product-modal {
        max-width: 233px;
        height: 280px
    }

    .modal-btn {
        width: 20px;
        top: 10px;
        right: 10px
    }
}

@media screen and (max-width: 391px) {
    .modal-info-container {
        font-size: 0.8rem;
    }

    .gift-name {
        font-size: 1rem;
    }

    .img-product-modal {
        max-width: 209px;
        height: 250px
    }

}

@media screen and (max-width: 340px) {
    .info {
        font-size: 1.5rem;
    }

}


@media (hover: hover)  {
    .wishlist-card:hover {
        box-shadow: 5px 10px 5px rgb(79 79 112 / 40%);
        background-color: #FF9EBB;
        transition: all 0.5s linear;
        transform: scale(1.05);
    }

    .card-btn:hover {
        transform: scale(1.2);
    }

    .link:hover >  div:nth-child(2) {
        background-size: 100% 2px;
        transition: background-size .6s;
    }

    .modal-btn:hover {
        transform: scale(1.2);
    }
}